* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

footer {
  background-color: rgb(182, 180, 180);

  div {
    text-align: center;
  }
}

.log-img {
  width: 200px;
}

.btn-primary {
  background: $primary-color;
  border-color: $primary-color;
}

.container img:hover {
  transform: scale(1.1);
  transition: 2s;
}

.mapa {
  margin-top: 25px;
  margin-bottom: 100px;
}
