nav {
  .nav-item a:hover {
    background-color: aquamarine;

    .nav-link {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      width: 100px;
      display: block;
      transition: 0.5s;
    }
  }
}
